@model AppControlLaboratorios.Models.Curso

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<body class="body">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3>Crear curso</h3>
                    </div>
                    <div class="card-body">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                            <input asp-for="CursoNombre" class="form-control" />
                            <span asp-validation-for="CursoNombre" class="text-danger"></span>
                            <div class="form-group d-grid gap-2 mt-4">
                                <button type="submit" class="btn btn-success btn-lg btn-block">Crear</button>
                                <a asp-action="Index" class="btn btn-secondary btn-lg btn-block mt-2">Regresar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
