@model IEnumerable<AppControlLaboratorios.Models.Curso>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/botones.css" />
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-light table-hover">
    <thead class="table-primary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CursoNombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CursoNombre)
            </td>
            <td>
                @Html.Partial("_botonesEDE", item.Id)
            </td>
        </tr>
}
    </tbody>
</table>
