@model IEnumerable<AppControlLaboratorios.Models.Curso>

@{
    ViewData["Title"] = "Index";
}
<h1 style="text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);" class="text-white">Lista de Cursos</h1>

<link rel="stylesheet" href="~/css/botones.css" />
<link rel="stylesheet" href="~/css/agregar.css" />

<p>
    @Html.Partial("_crearNuevo")
</p>
<table class="table table-light table-hover">
    <thead class="table-primary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CursoNombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CursoNombre)
            </td>
            <td>
                @Html.Partial("_botonesEDE", item.Id)
            </td>
        </tr>
}
    </tbody>
</table>
