@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>
        /El alumno se hace responsable del equipo y mobiliario del que haga uso.
        El alumno deberá reportar a su docente la avería, fallo, perjuicio, perdida del equipo y/o mobiliario, de no hacerlo, el alumno asumirá la responsabilidad de la misma.
        Marcar con (X) si se hace uso de un equipo particular y solo requiere cable de red, si no por defecto se asumirá que hace uso completo del equipo.
    </p>
    <p>
        Otro párrafo alternativo
    </p>
</div>
