@{
    ViewData["Title"] = "Home Page";
}

<body class="ini">
    <div class="container text-center">
        <div class="row section-details py-5">
            <div class="col-md-6">
                <img src="/lib/img/computador.jpg" class="img-fluid rounded" alt="Imagen 2">
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <p>El alumno se hace responsable del equipo y mobiliario del que haga uso, por lo tanto deberá reportar al docente la avería, fallo, perjuicio, perdida del equipo y/o mobiliario, de no hacerlo, el alumno asumirá la responsabilidad de la misma.</p>
            </div>
        </div>

        <div class="row section-details py-5">
            <div class="col-md-6">
                <img src="/lib/img/laptop.jpg" class="img-fluid rounded" alt="Imagen 3">
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <p>Dar a conocer en observaciones si se hace uso de un equipo particular y solo requiere cable de red, si no por defecto se asumirá que hace uso completo del equipo.</p>
            </div>
        </div>
    </div>
</body>
