@model AppControlLaboratorios.Models.Usuario

<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class ="col-md-6 text-center">
                <!-- Encabezado con el nombre del usuario -->
                <h1>¡ Bienvenido(a) @Model.Nombre @Model.Apellidos ! </h1>
            </div>

            <!-- Botones de acción -->
            <div class="d-flex flex-column justify-content-center align-items-center mt-3">
                <!-- Botón con estilo personalizado -->
                <button class="boton-vista text-light mb-2 margin:10px" onclick="window.location.href='/UsuarioCursos/Index';">
                    Mis cursos 
                </button>
                <button class="boton-vista text-light mb-2 margin:10px" onclick="window.location.href='/Horarios/Index';">
                    Lista Horarios
                </button>
            </div>
        </div>
    </div>
</body>