@model AppControlLaboratorios.Models.Usuario
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <!-- Encabezado con el nombre del usuario -->
                <h1>¡Bienvenido(a) @Model.Nombre @Model.Apellidos! </h1>
            </div>
        </div>
    </div>
</body>